html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

*, ::after, ::before {
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}